{% extends 'course/course_base.html' %}
{% load static %}
{% block title %} Лекция 3 {% endblock title %}

{% block theme %}
<div class="left-ads-display col-lg-8">
    <div class="content-section">
        <ul id="theme-slides">
            <li class="theme-slide" id="0">
                <h5>Где найти спрайты?</h5>
                <p>
                    Когда начинаешь создавать визуальную новеллу, то начинаешь задумываться о том, где брать
                    изображения. Неудивительно, ведь новелла визуальная, там должно быть что-то кроме буковок. Итак,
                    есть 3 варианта действий:
                </p>
                <ol class="lect_ol">
                    <li class="lect_li">Нарисовать самому. Это довольно тяжелый процесс, особенно, если никогда не
                        держал карандаш, но зато это весело. Можно нарисовать всё, что угодно и так, как захочешь сам.
                    </li>
                    <li class="lect_li">Частично отрисовать самому, частично позаимствовать чужие ресурсы. Вариант
                        подходит, если нет времени и не получается всё создать с нуля.
                    </li>
                    <li class="lect_li">Заимствовать полностью. Самый легкий путь, но придется пожертвовать своими
                        представлениями.
                    </li>
                </ol>
                <div class="image-lecture-wrap">
                    <img class="image-lecture" src="/static/images/article_7_1.png" alt="">
                </div>
                <h5>Графика</h5>
                <p>
                    Допустим, вы уже нашли спрайты. В случае, если вы их рисуете самостоятельно или обрабатываете,
                    необходимо выбрать стиль и графику. Графика бывает двух типов: растровая и векторная. Выбирать надо,
                    основываясь на предпочтениях и возможностях.
                </p>
                <p>
                    В растровой графике можно создать реалистичное изображение. Реалистичность получается за счёт
                    объема, который можно получить, играя прозрачностью кистей. Можно использовать различные эффекты и
                    текстуры. В таком случае, требуются хоть какие-то навыки рисования и, желательно, иметь графический
                    планшет. Из минусов - при увеличении размера изображения можно потерять качество и нельзя
                    экспортировать в векторную графику.
                </p>
                <p>
                    Векторная графика, как правило, выглядит очень мультяшно и легка в построении. Векторные изображения
                    можно без проблем уменьшать и увеличивать, ведь всё изображение хранится в виде набора линий, а не
                    отдельных пикселей.
                </p>
                <div class="image-lecture-wrap">
                    <img class="image-lecture" src="/static/images/article_7_2.png" alt="">
                </div>
                <h5>Инструменты</h5>
                <p>
                    Для растровой графики обычно используются Adobe Photoshop, PaintTool Sai, Krita, Gimp. Фотошоп -
                    одна из самых многофункциональных программ: можно и рисовать, и обрабатывать изображения, и
                    создавать классные эффекты. Но при этом программа достаточно тяжелая, ест много оперативной памяти,
                    если мощности компьютера позволяют, то можно смело использовать. PaintTool Sai хорошо подходит для
                    художников, имеет не перегруженный интерфейс.
                </p>
                <p>
                    Для векторной графики используются Adobe Illustrator, CorelDraw, Canva. Лучше использовать
                    редакторы, которые заточены именно под работу с векторными изображениями.
                </p>
                <div class="image-lecture-wrap">
                    <img class="image-lecture" src="/static/images/article_7_3.png" alt="">
                </div>
                <p>
                    Для анимации часто используют метод скелетной анимации: в каждой части, которая должна двигаться,
                    создают кость. После покадрово их смещают и таким образом получается движение. Такую анимацию можно
                    создать в программе Spine и Dragon Bones. Для новелл анимацию можно отрисовать и руками. Например,
                    для анимации моргания потребуется всего 2 изображения: с открытыми и закрытыми глазами. Функционал
                    RenPy позволяет показывать их поочередно с определенным интервалом. Более сложный функционал больше
                    подходит для катсцен.
                </p>
                <div class="image-lecture-wrap">
                    <img class="image-lecture" src="/static/images/article_7_4.png" alt="">
                </div>
                <h5>Процесс создания</h5>
                <p>
                    Первый этап - скетчинг (или набросок). Его можно сделать в любом редакторе, даже обычном Paint’e.
                    Можно нарисовать на бумаге, а потом отсканировать/сфотографировать и продолжить рисовать на
                    компьютере. Суть скетча - набросать основные детали. Можно добавить цвет, но это необязательно.
                </p>
                <p>Далее создается лайн (контур). Лайн необязательно должен быть чёрным (в таком случае, рисунок будет
                    более грубым). Можно использовать темно-серый цвет или брать цвет определенной детали (например, для
                    светлого лица контур будет темно-бежевым). После завершения лайна можно удалить слой со скетчем.</p>
                <p>Переходим к покрасу. Тут всё просто: есть основной цвет и пара цветов для света и тени, чтобы создать
                    объем. Покрас обычно делается под слоями с контуром.</p>
                <div class="image-lecture-wrap">
                    <img class="image-lecture" src="/static/images/article_7_5.png" alt="">
                </div>
                <p>
                    Если не умеете рисовать, то это не беда. У простых рисунков тоже есть свой шарм, так что может
                    получиться даже круче.
                </p>
                <p>Если неохота делать самому, то есть еще 2 варианта.</p>
                <p>1. Срисовать. Берете чей-то рисунок, рисуете его самостоятельно, при этом что-то видоизменяя.
                    Изменения
                    обычно небольшие. Есть нюанс: например, если человек видел уточку сверху, то, увидев уточку снизу,
                    он может это вспомнить. В таких случаях лучше указывать автора идеи (например, добавить в меню
                    новеллы пункт ”Об игре” и там перечислить все источники).</p>
                <div class="image-lecture-wrap">
                    <img class="image-lecture image-lecture-xsm" src="/static/images/article_7_6.png" alt="">
                </div>
                <p>
                    2. Использовать референсы. В этом случае берется поза персонажей или общий концепт для создания
                    своего рисунка. Автора можно не указывать, так как ничего конкретного вы не украли.
                </p>
                <div class="image-lecture-wrap">
                    <img class="image-lecture" src="/static/images/article_7_7.png" alt="">
                </div>
                <p>
                    Если вы ничего не хотите менять, то можно взять готовые изображения, но, как правило, нужно будет
                    указать автора. При этом не все авторы будут довольны тем, что их работы где-то использовались.
                    Будьте осторожны, берите изображения только в том случае, если уверены, что проблем не будет.
                </p>
                <p>В век развитых технологий для создания изображения можно использовать нейронные сети. Например,
                    DALL-E 2 или Midjourney. В последнее время часто публикуются подборки крутых изображений, созданных
                    нейронками.</p>
                <div class="image-lecture-wrap">
                    <img class="image-lecture" src="/static/images/article_7_8.png" alt="">
                    <span class="img-lecture-name">Изображение, сгенерированное Dall-e 2</span>
                </div>
                <br>
                <h5>Характер. Персонажи. Автор</h5>
                <p>
                    За всеми персонажами кроется автор. Персонаж - некая маска, которая помогает открыто говорить
                    автору, раскрывать тайны и делать выборы. Любую историю можно скрыть за декорациями: например, взять
                    сеттинг далекого космоса и при этом рассказывать о знакомых проблемах: не хватило денег до зарплаты
                    или вышвырнули из университета. Так людям будет проще проникнуться историей.
                </p>
                <p>
                    Для большей правдоподобности вдохновляйтесь окружающими вас людьми. Люди больше доверяют чему-то
                    правдоподобному, чем очевидно вымышленному и клишированному. Этот метод поможет вам лучше
                    прочувствовать персонажа, а следовательно, лучше раскрыть. Героя раскрывают его действия, а не слова
                    и окружающая обстановка.
                </p>
                <h5>Боль. Конфликт</h5>
                <p>Для интересной истории нужен конфликт. Без него очень сложно написать что-то интересное и зацепить
                    игрока в первые минуты. Покажите стартовую ситуацию как можно скорее, не затягивая. Персонажи
                    обязательно должны действовать, иначе не будет развития и действия. А если нет конфликта - нет
                    ничего. Очень важно, как герой отреагирует на ситуацию и как он проявит себя. Особенно интересно
                    наблюдать за безвыходными ситуациями: и персонаж растет, преодолевая препятствия, и зритель
                    переживает.
                </p>
                <div class="image-lecture-wrap">
                    <img class="image-lecture" src="/static/images/article_6_5.png" alt="">
                </div>
                <p>
                    Помните, что игры и визуальные новеллы - часть развлекательной индустрии, ваш игрок не должен
                    скучать. Представьте своего конечного читателя и задайтесь вопросом, что его может
                    заинтересовать.</p>
                <h5>Полезные книги</h5>
                <p>Если вы хотите глубже погрузиться в написание сценариев, то вам определенно поможет этот список
                    литературы. Там можно найти советы о том, как разнообразить и оживить речь и, в целом, о построении
                    сюжета.</p>
                <ul>
                    <li class="lect_li"><p>Аристотель. Поэтика;</p></li>
                    <li class="lect_li"><p>Владимир Пропп. Морфология волшебной сказки;</p></li>
                    <li class="lect_li"><p>Нора Галь. Слово живое и мертвое;</p></li>
                    <li class="lect_li"><p>Кэмпбелл “Тысячеликий герой” (мономиф, путь героя);</p>
                    </li>
                    <li class="lect_li"><p>Классическая русская литература.</p></li>
                </ul>

                <p>
                    Находим строчку следующую строчку и меняем True на False.
                </p>
                <div class="code-wrap">
                    <pre><code class="language-python">define gui.show_name = True</code></pre>
                </div>
                <br>
                <h5>Создание своего меню</h5>
                <p>
                    Для начала рассмотрим изменение первичного дизайна новеллы, который предлагает сам RenPy. В той же
                    папке gui есть еще несколько подпапок. Одна из них называется “overlay”. Эти изображения
                    накладываются поверх фонов.
                </p>
                <div class="image-lecture-wrap">
                    <img class="image-lecture" src="/static/images/article_4_3.png" alt="">
                </div>
                <p>
                    Если изображения кажутся слишком темными или наоборот слишком светлыми, то их запросто можно
                    отредактировать в редакторе Gimp или в фотошопе (или в любом другом привычном редакторе). Можно
                    поменять прозрачность, добавить изображениям контраста или вовсе заменить их на свои (с учетом
                    разрешения экрана игры).
                </p>
                <p>
                    Далее можно поменять шрифт в меню, а именно: его цвет. Заходим в файл gui.rpy и ищем строчку:
                </p>
                <div class="code-wrap">
                    <pre><code class="language-python">define gui.idle_color</code></pre>
                </div>
                <p>
                    Это не выделенные пункты меню. После знака равенства пишем любой подходящий цвет в
                    шестнадцатеричном формате.
                </p>
                <p>
                    Есть вариант полностью перерисовать меню игры под себя: если вы хорошо рисуете или у вас есть
                    дизайнер, то подготовьте все нужные экраны, изображения кнопок, боковых панелей и т.д. Узнать список
                    всех необходимых файлов можно из созданного проекта в RenPy: внимательно изучите папку gui,
                    просмотрите вложенные папки. Определите, какие изображения за что отвечают. Узнать это можно из
                    названия картинок и опираясь на <a href="https://www.renpy.org/doc/html/gui.html"
                                                       target="_blank"><b>официальный гайд по изменению
                    интерфейса</b></a>.
                </p>
                <p>
                    Рассмотрим вариант изменения главного меню с созданием своих кнопок.
                </p>
                <p>
                    Для этого необходимо подготовить фоновое изображение меню, изображение с пунктами меню (без фона) и
                    изображение с выделенными пунктами меню (как будто бы на них наведена мышка).
                </p>
                <div class="image-lecture-wrap">
                    <img class="image-lecture" src="/static/images/article_4_4.png" alt="">
                    <span class="img-lecture-name">Пример фонового изображения</span>
                </div>
                <div class="image-lecture-wrap">
                    <img class="image-lecture" src="/static/images/article_4_5.png" alt="">
                    <span class="img-lecture-name">Пример изображения с пунктами меню</span>
                </div>
                <div class="image-lecture-wrap">
                    <img class="image-lecture" src="/static/images/article_4_6.png" alt="">
                    <span class="img-lecture-name">Пример выделенных пунктов меню</span>
                </div>
                <p><i><b>!</b> У вас должен быть не серый фон, а прозрачный. Скачать картинки из примера можно будет в
                    конце статьи.</i></p>
                <p>
                    Далее все три изображения перемещаем в папку “gui”. Изображение с фоном можно назвать “main_menu”, с
                    кнопками “menu_normal”, с подсвеченными кнопками “menu_hover”.
                    Чтобы настроить отображение своего меню заходим в файл screens.rpy и находим раздел screen
                    main_menu(). В этом блоке можно смело всё удалить, оставив лишь tag menu.
                </p>
                <div class="code-wrap">
                    <pre><code class="language-python">screen main_menu():
    tag menu</code></pre>
                </div>
                <br>

                <p>
                    Воспользуемся объектом imagemap, у которого можно указать фоновое изображение (ground),
                    изображения с кнопками (idle и hover).
                </p>
                <div class="code-wrap">
                    <pre><code class="language-python">screen main_menu():
    tag menu

    imagemap:
        ground "gui/main_menu.png"
        idle "gui/menu_normal.png"
        hover "gui/menu_hover.png"</code></pre>
                </div>
                <br>
                <p>
                    Но надо еще указать координаты для каждой кнопки, потому что мы задали по одному изображению и RenPy
                    думает, что у нас есть одна большая кнопка на весь экран: исправить это можно через hotspot, указав
                    ему стартовую координату кнопки, её ширину и высоту.
                </p>
                <div class="code-wrap">
                    <pre><code class="language-python">screen main_menu():
    tag menu

    imagemap:
        ground "gui/main_menu.png"
        idle "gui/menu_normal.png"
        hover "gui/menu_hover.png"

        hotspot(x, y, width, height)
</code></pre>
                </div>
                <p>
                    Посмотреть эти координаты можно в графическом редакторе. Когда вы водите мышкой по экрану, то по
                    краю изображения можно найти числа в пикселях или увидеть координаты в отдельном меню (например, в
                    фотошопе стоит зайти в “Окно”>”Навигатор” и выбрать вкладку “Инфо”).
                </p>
                <div class="image-lecture-wrap">
                    <img class="image-lecture image-lecture-sm" src="/static/images/article_4_7.png" alt="">
                </div>
                <p>
                    Необходимо определить координаты (это и есть x и y) левого верхнего угла каждой кнопки. Высоту можно
                    определить при помощи разницы координаты Y нижнего левого угла кнопки и ее верхнего левого угла.
                    Ширину аналогично при помощи разницы координаты X правого верхнего угла и левого верхнего угла.

                </p>
                <p>
                    Отлично, мы нашли кнопку на экране. Осталось определить, что эта кнопка будет делать при помощи
                    action. Action бывают следующие: Start - для запуска игры, ShowMenu - для показа какого-то
                    конкретного меню, Quit - выход из игры. Действиям можно передавать параметры: название меню или
                    флаг, который будет указывать на подтверждение выхода из игры.
                </p>
                <p>
                    Вот как это выглядит в коде:
                </p>
                <div class="code-wrap">
                    <pre><code class="language-python">screen main_menu():
    tag menu

    imagemap:
        ground "gui/main_menu.png"
        idle "gui/menu_normal.png"
        hover "gui/menu_hover.png"

        hotspot(30, 150, 240, 60) action Start()
        hotspot(30, 240, 320, 80) action ShowMenu("load")
        hotspot(30, 320, 330, 80) action ShowMenu("preferences")
        hotspot(30, 400, 250, 80) action ShowMenu("about")
        hotspot(30, 610, 220, 60) action Quit(confirm=True)</code></pre>
                </div>
                <p>
                    Теперь все кнопки будут вести на нужные экраны. Но есть одна проблема: экраны настроек, сохранений,
                    помощи будут выглядеть как прежде. А всё дело в том, что все они настраиваются отдельно друг от
                    друга, но по тому же принципу, что был рассмотрен в этой статье. Так что вы можете полностью
                    перерисовать внешний вид своей новеллы до неузнаваемости, главное запастись красивыми изображениями
                    и разобраться во всех экранах.
                </p>
                <p>
                    С дальнейшей кастомизацией помогут <a href="https://www.renpy.org/doc/html/gui.html"
                                                          target="_blank"><b>официальный гайд</b></a> и многочисленные
                    видео на YouTube.
                </p>
                <p><a href="/static/Главное%20меню.zip" download><b>Скачать изображения из примера со своим меню</b></a>
                </p>
                <h6>Ход работы:</h6>
                <ul>
                    <li class="lect_li"><p>создание эскизов (если рисуете на бумаге, потом просто вставьте в программу
                        фото или скан бумажного эскиза);</p></li>
                    <li class="lect_li"><p>одобрение эскизов (лучше делать все эскизы заранее, чтобы выдержать общий
                        стиль персонажей и фонов);</p></li>
                    <li class="lect_li"><p>уточнение деталей эскизов (например разные эмоции у персонажей, разная
                        цветовая гамма при смене времени суток/освещение, анимация моргания);</p></li>
                    <li class="lect_li"><p>отрисовка контура (если это уместно по стилю, не забывайте про слои);</p>
                    </li>
                    <li class="lect_li"><p>покрас (можно остановиться на простой заливке с проверкой всех узких мест,
                        если это уместно по стилю);</p></li>
                    <li class="lect_li"><p>обработка фильтрами (при необходимости смены цветовой гаммы, например, для
                        разного освещения).</p></li>
                </ul>
                <br>
                <h6>Кратко о программах:</h6>
                <p>Рассмотрим основы на примере Paint Tool Sai.</p>
                <div class="image-lecture-wrap">
                    <img class="image-lecture" src="/static/images/article_3_3.png" alt="">
                </div>

                <p>Для создания новой картинки нужно создать новый холст «Файл»> «Новый», в открывшемся окне указать
                    название холста, его ширину и высоту, прозрачный фон, чтобы Sai сохранила ваши спрайты без белого
                    фона. Далее ознакомимся с базовыми инструментами на панели программы.</p>
                <div class="image-lecture-wrap">
                    <img class="image-lecture" src="/static/images/article_3_4.png" alt="">
                </div>

                <p>
                    Иногда, для поддержки кор-гемплея, придумывают и дополнительные механики. Например, в вышеупомянутых
                    симуляторах свиданий есть “система взаимоотношений” с персонажами. Или ещё существует прокачка
                    игрока, как в игре под названием Monster Prom. Бывают и полноценные механики расследования, как в
                    Danganronpa. А в Coffee Talk, можно насладиться дополнительным симулятором бариста, приготовить кофе
                    самому.
                </p>
                <div class="image-lecture-wrap">
                    <img class="image-lecture" src="/static/images/article_2_3.png" alt="">
                    <span class="img-lecture-name">Monster Prom</span>
                </div>
                <div class="image-lecture-wrap">
                    <img class="image-lecture" src="/static/images/article_2_2.png" alt="">
                    <span class="img-lecture-name">Coffee Talk</span>
                </div>
                <p><b>The Lion's Song.</b> Игра хранящая в себе множество интересных механик, непривычных для
                    текстовых\визуальных новелл. Там есть и выбор куда отправится, позволяя пройтись по городу и
                    почувствовать быт тех лет. А для каждой истории персонажей есть свои индивидуальные механики. Для
                    скрипачки - “ищем вдохновение”. Художнику - помогаем написать портрет, угадывая по фразам человека,
                    каким же его нужно изобразить. А для ученой пытаемся найти формулы, по её смутным описаниям. Или уже
                    вместе с солдатом стараемся приободрить попутчиков разговором, снова угадывая их желания.</p>
                <div class="image-lecture-wrap">
                    <img class="image-lecture" src="/static/images/article_2_4.png" alt="">
                </div>
                <div class="image-lecture-wrap">
                    <img class="image-lecture" src="/static/images/article_2_5.png" alt="">
                    <span class="img-lecture-name">The Lion's Song</span>
                </div>
                <div class="image-lecture-wrap">
                    <img class="image-lecture" src="/static/images/article_2_6.png" alt="">
                </div>
                <div class="image-lecture-wrap">
                    <img class="image-lecture" src="/static/images/article_2_7.png" alt="">
                    <span class="img-lecture-name">The Red Strings Club</span>
                </div>
                <div class="code-wrap"><pre>$ renpy.movie_cutscene('video/cutscene.ogv') #1
$ renpy.movie_cutscen('video/cutscene.ogv') #2
$ renpy.movie_cutscene('video/cutscene.ogg') #3
$ renpy.movie_cutscene('videos/cutscene.ogv') #4
</pre>
                </div>


                <div class="image-lecture-wrap">
                    <img class="image-lecture image-lecture-sm" src="/static/images/lect_10_1.png">
                </div>

                <div class="code-wrap">
                    <pre><code class="language-python">define config.main_menu_music = "<название файла с расширением>"</code></pre>
                </div>
                <p>Если всё сделано верно, то при запуске новеллы, будет играть музыка.</p>
                <h5>Музыка в игре</h5>
                <p>По умолчанию в папке game уже есть папка audio, но для удобства лучше завести 2 папки (одну для
                    музыки, вторую для звуков). Папки можно назвать соответственно music и sounds. Для дальнейшей
                    работы поместите все нужные вам файлы с музыкальным оформлением в эти папки.</p>
                <p>Сначала RenPy нужно указать, что у нас есть эти файлы с музыкой. В файле script.rpy, там где мы
                    объявляем переменные пишем следующее:</p>
                <div class="code-wrap">
                    <pre>define audio.<название переменной для звука> = "<путь к файлу>"</pre>
                </div>
                <div class="code-wrap"><pre>label start:
    play music musfunny</pre>
                </div>
                <p>Для смены музыки необходимо написать ту же команду, но с другим названием переменной. Допустим, у
                    нас есть переменная со страшной музыкой musscary, скрипт будет выглядеть следующим образом:</p>
                <div class="code-wrap"><pre>label start:
    play music musfunny
    <ваш код игры>
    "И тут случилось страшное…"
    play music musscary</pre>
                </div>
                <div class="code-wrap">
                    <pre>stop music fadeout 1</pre>
                </div>
                <p>Данная строка означает, что музыка будет затухать в течение 1 секунды. После затухания останется
                    тишина. В нужном месте уже изученной командой play music можно запустить другую мелодию. </p>

                <div class="code-wrap"><pre><code class="language-python">label start:
    play music musfunny
    <ваш код игры>
    stop music fadeout 1
    "И тут случилось страшное…"
        play music musscary</code></pre>
                </div>


                <p>Поговорим об изменении значения числовой переменной. Для этого чуть поменяем код. Вместо 7000 везде
                    напишем переменную money, которую создали в самом начале.</p>
                <a data-toggle="collapse" href="#open-code-2" class="open-code">
                    <i class="fa fa-chevron-down down-symb" aria-hidden="true"></i>
                    Код для самопроверки
                </a>
                <div class="collapse" id="open-code-2">
                    <div class="code-wrap"><pre><code class="language-python">define money = 7000
label start:
    $ spent_money = renpy.input("Сколько потратить денег?", length=4, allow="0123456789").strip() or "0"
    $ spent_money = int(spent_money)
    if spent_money > money:
        $ spent_money = money
    if spent_money == 0:
        "Вы не потратили ни копейки."
    elif spent_money == money:
        "Вы потратили все деньги."
    else:
        "Вы потратили [spent_money]."</code></pre>
                    </div>
                </div>

                <a data-toggle="collapse" href="#open-code-3" class="open-code">
                    <i class="fa fa-chevron-down down-symb" aria-hidden="true"></i>
                    Весь код с урока
                </a>
                <div class="collapse" id="open-code-3">
                    <div class="code-wrap"><pre>define money = 7000
label start:
    $ spent_money = renpy.input("Сколько потратить денег?", length=4, allow="0123456789").strip() or "0"
    $ spent_money = int(spent_money)
    if spent_money > money:
        $ spent_money = money
    if spent_money == 0:
        "Вы не потратили ни копейки."
    elif spent_money == money:
        "Вы потратили все деньги."
    else:
        "Вы потратили [spent_money]."
    $ money = money - spent_money
    "У игрока осталось [money] монет."</pre>
                    </div>
                </div>
                <br>


                <ol class="lect_ol">
                    <li class="lect_li">if (проверка первого условия)</li>
                    <li class="lect_li">elif (проверка второго условия, если первое не выполнилось)</li>
                    <li class="lect_li">else (если все условия выше не выполнились, будет сделано то, что после else)
                    </li>
                </ol>
                <div class="image-lecture-wrap">
                    <img class="image-lecture" src="/static/images/lect_2_11.png">
                    <span class="img-lecture-name">Содержимое gui.rpy</span>
                </div>

            </li>
            <li class="theme-slide" id="1">
                <h4>Персонажи и реплики (Практическая часть 3)</h4>

                <br>
                <p>Для создания персонажа прописывается в начале файла данный код:</p>


                <p>Если вам нужно вывести реплику без подписи, то в коде пишите только реплику в кавычках.</p>

                <div class="code-wrap"><p>"Реплика персонажа"</p></div>

                <p>Если в начале строки поставить #, то строка станет комментарием. Рекомендуем оставлять комментарии
                    для себя, чтобы не запутаться в коде. Также "закомментировать" можно ненужный фрагмент кода,
                    который вы не хотите удалять.</p>
                <div class="image-lecture-wrap">
                    <img class="image-lecture" src="{% static 'images/lect_3_2.png' %}">
                    <span class="img-lecture-name">Пример объявления персонажа и реплик</span>
                </div>
            </li>
            <li class="theme-slide showing" id="2">
                <h4>Персонажи и реплики (Практика 3)</h4>
                <br>
                <p>Пришло время для проверки знаний! Ответьте на все тестовые вопросы.</p>

                <form class="form-test">
                    <label for="color-format"><h5 class="question-text">1. Выберите правильные варианты написания цветов
                        в HEX формате:</h5></label>
                    <div class="checkbox-group-test" id="color-format">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="color1">
                            <label class="form-check-label" for="color1">#n66c43</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="color2">
                            <label class="form-check-label" for="color2">
                                #ba23b0
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="color3">
                            <label class="form-check-label" for="color3">
                                #5D3EA2
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="color4">
                            <label class="form-check-label" for="color4">
                                #2A4ecC
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="color5">
                            <label class="form-check-label" for="color5">
                                #fa56d65
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-color">
                            <h5 class="question-text">2. Введите любой оттенок серого без примесей в HEX формате,
                                воспользуйтесь любым доступным
                                Color Picker:</h5>
                        </label>
                        <input type="text" class="form-control input-test" id="input-color" placeholder="#45ff32">
                    </div>
                    <a data-toggle="collapse" href="#answer-grey">
                        <i class="fa fa-question-circle-o" aria-hidden="true"></i> Открыть подсказку
                    </a>
                    <div class="collapse" id="answer-grey">
                        <small>Возможные варианты: #b7b7b7, #1a1a1a, #3d3d3d</small>
                    </div>

                    <label for="person-format"><h5 class="question-text">3. Выберите синтаксически правильные реплики от
                        персонажа с именем
                        Эмили:</h5></label>
                    <div class="checkbox-group-test" id="person-format">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="person1">
                            <label class="form-check-label" for="person1">
                                "Привет, как дела?"
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="person2">
                            <label class="form-check-label" for="person2">
                                # Привет, как дела?
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="person3">
                            <label class="form-check-label" for="person3">
                                emily "Привет, как дела?"
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="person4">
                            <label class="form-check-label" for="person4">
                                e "Привет, как дела?"
                            </label>
                        </div>
                    </div>
                    <label for="define-person-group"><h5 class="question-text">4. Выберете правильное объявление
                        персонажа</h5></label>
                    <div id="define-person-group">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="define-person" id="define-person1"
                                   value="1">
                            <label class="form-check-label" for="define-person1">
                                define j == Caracte('Джаконда', color="#FFAA00")
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="define-person" id="define-person2"
                                   value="2">
                            <label class="form-check-label" for="define-person2">
                                defane x = Charakter('Имя', color='#FF0BB0')
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="define-person" id="define-person3"
                                   value="3">
                            <label class="form-check-label" for="define-person3">
                                define john = Character("John", color='#FFАААА')
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="define-person" id="define-person4"
                                   value="4">
                            <label class="form-check-label" for="define-person4">
                                define vanilla = Character('Ваниль'')
                            </label>
                        </div>
                    </div>
                    <br>
                    <div class="w3layouts-newsletter">
                        <button type="submit" class="btn btn1 btn-test">Проверить</button>
                    </div>
                </form>
                <br>
                <div id="task-2">
                    <h5 class="question-text">5. Напишите свой скрипт</h5>
                    <br>
                    <p>Создайте персонажа с именем “Имя1”, создайте персонажа с именем “Имя2”. Присвойте их именам
                        любые,
                        но различные цвета. Пропишите небольшой диалог между Имя1 и Имя2, вы можете самостоятельно
                        составить диалог. Добавьте слова автора. Подпишите диалог “Диалог первый” и закомментируйте
                        название. Количество реплик не ограничено, главное, чтобы была одна реплика от персонажа Имя1,
                        одна от персонажа Имя2 и одна реплика от автора.
                    </p>
                    <form class="form-test">
                        <textarea id="code" name="code"># Напишите здесь свой скрипт
define...</textarea>
                        <br>
                        <div class="w3layouts-newsletter">
                            <button type="submit" class="btn btn1 btn-test">Проверить</button>
                        </div>
                    </form>
                </div>

            </li>
        </ul>
        <div class="w3layouts-newsletter" align="center">
            <a class="btn1 btn next-slide" style="font-size: 16px">Далее</a>
        </div>
    </div>
</div>
<script>
    let editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        mode: {
            name: "python",
            version: 3,
            singleLineStringErrors: false
        },
        lineNumbers: true,
        indentUnit: 4,
        matchBrackets: true
    });
</script>

{% endblock theme  %}