{% extends 'base.html' %}
{% block content %}
<ol class="breadcrumb editContent">
    <li class="breadcrumb-item">
        <a href="/" class="editContent">Главная</a>
    </li>
    <li class="breadcrumb-item active editContent"> <a href="/articles" class="editContent">Статьи</a></li>
</ol>
<section class="ab-info-main py-md-5 py-4 editContent" style="padding-left: 3rem; padding-right: 3rem;">
    {% block container %}
    <div class="container-fluid py-md-3">
        {% endblock container %}
        <div class="row">
            {% block sidebar %}
            <div class="side-bar col-lg-3">
                {% endblock sidebar %}
                {% include 'include/sidebar.html' %}
            </div>
            {% block article %}
            {% endblock article %}
        </div>
    </div>
</section>
{% endblock content %}