{% extends 'base.html' %}
{% block description %}Наша команда разработала учебный курс по созданию своих визуальных новелл на RenPy! Курс рассчитан на новичков и подойдет даже тем, кто ни разу не программировал. Прохождение курса совершенно бесплатно. Присоединяйся{% endblock description %}
{% block content %}
<ol class="breadcrumb editContent">
        <li class="breadcrumb-item">
            <a href="/" class="editContent">Главная</a>
        </li>
        <li class="breadcrumb-item active editContent">Гайд по разработке</li>
    </ol>
<section class="ab-info-main py-md-5 py-4 editContent" style="padding-left: 3rem; padding-right: 3rem;">
    {% block container %}
        <div class="container-fluid py-md-3">
    {% endblock container %}
    <div class="row">
        {% block sidebar %}
        <div class="side-bar col-lg-3">
        {% endblock sidebar %}
            {% include 'include/sidebar.html' %}
        </div>
            {% block main_block %}
            {% endblock main_block %}
    </div>
    </div>
</section>
{% endblock content %}