{% extends "base.html" %}

{% block title %}Восстановление пароля - NoveLearn{% endblock title %}
{% block canonical %}<link rel="canonical" href="https://novelearn.ru/password-reset/"/>{% endblock canonical %}

{% block content %}
<div class="wrap-main-block" align="center">
    <h3>Восстановление пароля</h3>
    <br>
    <p>Введите свой E-mail для получения нового пароля.</p>
    <div class="reset-password-wrap">
        <form action="." method="post" class="w3layouts-newsletter profile-form" id="reset-password-form">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 col-md-7 col-sm-7 col-12">
                    {{ form }}
                    </div>
                    <div class="w3layouts-newsletter col-lg-4 col-md-5 col-sm-5 col-12 btn-wrap-reset">
                        <button type="submit" class="btn1 btn profile-changer" style="font-size: 13px">Отправить
                        </button>
                    </div>
                </div>
            </div>

            {% csrf_token %}
        </form>
    </div>

    <br>
    <div>
        <p class="login-text-link"><a href="/registration">Зарегистрироваться</a> или <a href="/login">Войти</a></p>
    </div>

</div>
{% endblock content %}