{% extends "base.html" %}

{% block title %}Восстановление пароля - NoveLearn{% endblock title %}

{% block content %}
<div class="wrap-main-block" align="center">
    <h3>Восстановление пароля</h3>
    {% if validlink %}
    <br>
    <p>Введите новый пароль дважды.</p>
    <div class="reset-password-confirm-wrap">
        <form action="." method="post" >
<!--        {% if form %}-->
<!--        &lt;!&ndash; Form Errors &ndash;&gt;-->
<!--        {% if form.errors %}-->
<!--        <ul class="errors">-->
<!--            {% for error in form.errors %}-->
<!--            <li>{{ error }}</li>-->
<!--            {% endfor %}-->
<!--        </ul>-->
<!--        {% endif %}-->
<!--        &lt;!&ndash; Display Form &ndash;&gt;-->
<!--        <form>-->
<!--            {% csrf_token %}-->
<!--            {% for field in form %}-->
<!--            <div class="mydiv">-->
<!--                <label class="mylabel">{{ field.label }}</label>-->
<!--            </div>-->
<!--            <div class="password-wrap">-->
<!--                {{ field }}-->
<!--            </div>-->
<!--            <br>-->
<!--            {% endfor %}-->
<!--        </form>-->
<!--        {% endif %}-->
            {{form.as_p}}
        {% csrf_token %}
        <div class="w3layouts-newsletter" align="center">
            <button type="submit" class="btn1 btn next-slide" style="font-size: 13px">Сброс</button>
        </div>
    </form>
    </div>
    {% else %}
    <p>Некорректная ссылка для сброса пароля, возможно, она уже была использована. Пожалуйста, <a
            href="{% url 'password_reset' %}">повторите попытку</a>.</p>
    {% endif %}
</div>
{% endblock content %}