        <!-- footer -->
        <footer class="editContent">
            <div class="container">
                <div class="row footer-top">
                    <div class="col-lg-4 footer-grid_section_w3layouts">
                        <h2 class="logo-2 mb-lg-4 mb-3">
                            <a href="/" class="editContent">
                                <span class="fa" aria-hidden="true" >
                                    NoveLearn
                                </span>
                            </a>
                        </h2>
                        <p class="editContent" >
                            Сборник полезных материалов для создания своей визуальной новеллы.
                        </p>
                        <h4 class="sub-con-fo ad-info my-4 editContent" >Мы в социальных сетях</h4>
                        <ul class="w3layouts_social_list media-soc list-unstyled">
                            <li>
                                <a href="https://vk.com/novelearn" class="w3pvt_social editContent" target="_blank" >
                                    <span class="fa fa-vk" ></span>
                                </a>
                            </li>
                            <li>
                                <a href="https://t.me/opium21st" class="w3pvt_social editContent" target="_blank">
                                    <span class="fa fa-telegram" ></span>
                                </a>
                            </li>
                            <li>
                                <a class="w3pvt_social editContent" href="https://www.youtube.com/channel/UClxFgRsqn0U54csf02DW3sQ" target="_blank">
                                    <span class="fa fa-youtube-play" ></span>
                                </a>
                            </li>
                            <li>
                                <a href="mailto: info@novelearn.ru" class="w3pvt_social editContent" target="_blank">
                                    <span class="fa fa-envelope" ></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-8 footer-right">
                        <div class="w3layouts-news-letter">
                            <h3 class="footer-title text-uppercase editContent mb-lg-4 mb-3" >Обратная связь</h3>

                            <p class="editContent" >Подписываясь на нашу рассылку, вы всегда будете получать самые свежие новости и обновления.</p>
                            <form action="{%url 'not_exist' %}" method="post" class="w3layouts-newsletter">
                                {% csrf_token %}
                                <input type="email" name="Email" class="editContent" placeholder="Введите ваш email..." required="" >
                                <button class="btn1 btn" ><span class="fa fa-paper-plane-o" aria-hidden="true" ></span></button>
                            </form>
                        </div>
                        <div class="row mt-lg-4 bottom-w3layouts-sec-nav mx-0">
                            <div class="col-md-4 footer-grid_section_w3layouts">
                                <h3 class="footer-title text-uppercase editContent mb-lg-4 mb-3" >Разделы</h3>
                                <ul class="list-unstyled w3layouts-icons">
                                    <li>
                                        <a href="/" class="editContent" >Главная</a>
                                    </li>
                                    <li>
                                        <a href="/catalog" class="editContent" >Каталог</a>
                                    </li>
<!--                                    <li>-->
<!--                                        <a href="{% url 'not_exist' %}" class="editContent" >Контакты</a>-->
<!--                                    </li>-->

                                    <li>
                                        <a href="/course" class="editContent" >Обучение</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4 footer-grid_section_w3layouts">
                                <!-- social icons -->
                                <div class="agileinfo_social_icons">
                                    <h3 class="footer-title text-uppercase editContent mb-lg-4 mb-3" >Статьи</h3>
                                    <ul class="list-unstyled w3layouts-icons">

                                        <li>
                                            <a href="/articles/game-mechanics/" class="editContent" >Игровые механики</a>
                                        </li>
                                        <li>
                                            <a href="/articles/work-with-images/" class="editContent" >Обработка картинок и рисование</a>
                                        </li>
                                        <li>
                                            <a href="/articles/novel-types/" class="editContent" >Жанры новелл</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- social icons -->
                            </div>
                            <div class="col-md-4 footer-grid_section_w3layouts my-md-0 my-5">
                                <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3 editContent" >Контакты</h3>
                                <div class="contact-info">
                                    <div class="footer-address-inf my-4">
                                        <h4 class="ad-info mb-2 editContent" >Email </h4>
                                        <p class="editContent" ><a href="mailto:info@novelearn.ru">info@novelearn.ru</a></p>
                                    </div>
                                    <div class="footer-address-inf">
                                        <h4 class="ad-info mb-2 editContent" >Телефон</h4>
                                        <p class="editContent" >+7-905-808-49-24</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- //footer -->
<div class="cpy-right py-3">
    <div class="container">
        <div class="row">
            <p class="col-md-10 text-left">© 2022 NoveLearn. All rights reserved by
                <a href="https://novelearn.ru"> FIVE RACCOONS.</a>
            </p>
            <!-- move top icon -->
            <a href="#home" class="move-top text-right col-md-2"><span class="fa fa-long-arrow-up" aria-hidden="true" ></span></a>
            <!-- //move top icon -->
        </div>
    </div>
</div>