{% load novel_tag %}
<!-- header -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <h1>
            <a href="/" class="navbar-brand"
               style="outline: none; color: rgb(255, 255, 255); font-size: 40px; background-color: rgba(0, 0, 0, 0); font-family: &quot;Source Sans Pro&quot;, sans-serif;">
                NoveLearn
            </a>
        </h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-responsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-responsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    {% block active_index %}<a href="/" class="nav-link">Главная</a> {% endblock active_index %}
                </li>
                <li class="nav-item">
                    <a href="/catalog" class="nav-link">Каталог</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Статьи
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <div><a href="/course" class="dropdown-item">Курс по<br> RenPy</a></div>
                        <div><a href="{% url 'not_exist' %}" class="dropdown-item">Игровые <br>механики</a></div>
                        <div><a href="{% url 'not_exist' %}" class="dropdown-item">Типы новелл</a></div>
                        <div><a href="{% url 'not_exist' %}" class="dropdown-item">Материалы<br> для <br>разработки</a></div>
                    </div>
                </li>
                {% if not user.is_active %}
                <li class="nav-item">
                    <a href="{% url 'login' %}" class="nav-link">Вход</a>
                </li>
                {% endif %}
                {% if user.is_active %}
                <li class="nav-item dropdown">
                        <a class="avatar nav-link" id="login-item-list" aria-haspopup="true" aria-expanded="false"
                           data-toggle="dropdown" href="#">{{ user.username.0 }}</a>
                    <div class="dropdown-menu" aria-labelledby="login-item-list" id="profile-list-wrap">
                        <div><a href="{% url 'profile_main' %}" class="dropdown-item">Привет, <br> {{user.username}}</a></div>
                        <div><a href="{% url 'logout' %}" class="dropdown-item">Выход</a></div>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div style="display: none" id="user-id">{{user.id}}</div>


