{% extends 'base_empty_crumb.html' %}
{% block title %} Ой, что-то не так... {% endblock title %}
{% block header %} {% endblock header %}

{% block main_block %}
<div class="left-ads-display col-lg-9">
    <div class="container course_wrap">
        <h1>Страница не найдена</h1>
        <br>
        <p>Ой! Такой страницы не существует.</p>
        <p>Вы можете перейти на <b><a href="/">главную страницу</a></b> сайта{% if redirect_url %}
            или вернуться <b><a href="{{ redirect_url }}">назад</a>{% endif %}</b>.</p>
        <div align="center"><img class="col-7" src="/static/images/working.jpg"/></div>
    </div>
</div>
{% endblock main_block  %}