{% extends 'base_empty_crumb.html' %}
{% block title %} Ой, что-то не так... {% endblock title %}
{% block header %} {% endblock header %}

{% block main_block %}
<div class="left-ads-display col-lg-9">
    <div class="container course_wrap">
        <h1>Данный раздел находится в разработке</h1>
        <br>
        <p>Ой! Данный раздел еще не готов. Мы делаем всё возможное, чтобы он как можно раньше увидел свет.</p>
        <p>Вернуться на <b><a href="/">главную страницу</a></b> сайта.</p>
        <div align="center"><img class="col-7" src="/static/images/working.jpg"/></div>
    </div>
</div>
{% endblock main_block  %}