{% extends 'base.html' %}
{% block content %}
<div class="wrap-main-block" align="center">
    <h3>Восстановление пароля</h3>
    <br>
<!--    <form action="#" method="post">-->
<!--        {% csrf_token %}-->
<!--        <div class="login-wrap" align="center">-->
<!--            <div class="form-group">-->
<!--                <label for="email">Почта</label>-->
<!--                <input type="email" class="form-control" id="email" name="email" placeholder="Введите E-mail">-->
<!--            </div>-->
<!--        </div>-->
<!--        <br>-->
<!--        <div class="w3layouts-newsletter" align="center">-->
<!--            <button type="submit" class="btn1 btn next-slide" style="font-size: 13px">Восстановить пароль</button>-->
<!--        </div>-->
<!--        {% if invalid%}-->
<!--        <p>Не найдено пользователей с указанной почтой</p>-->
<!--        {% endif %}-->
<!--    </form>-->
    Здесь будет форма
    <br>
    <div>
        <p class="login-text-link"><a href="/registration">Зарегистрироваться</a> или <a href="/login">Войти</a></p>
    </div>

</div>
{% endblock content %}